<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        android:usesCleartextTraffic="true"
        tools:targetApi="30" >
        <activity
            android:name=".helpers.ApiAudioHelperActivity"
            android:exported="false" />
        <activity
            android:name=".Save_data"
            android:exported="false" />
        <activity
            android:name=".Web_search"
            android:exported="false" />
        <activity
            android:name=".custom_dialog_layout"
            android:exported="false" />
        <activity
            android:name=".LocationSet"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".image.ImageClassificationActivity"
            android:label="Image Identifier"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".image.BirdIdentificationActivity"
            android:label="Bird Image Identifier"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".audio.AudioClassificationActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".audio.BirdSoundDetectorActivity"
            android:screenOrientation="userPortrait" /> <!-- make sure within the application tag, otherwise app will crash with XmlResourceParser errors -->
        <activity
            android:name=".audio.BirdNetAudioClassificationActivity"
            android:screenOrientation="userPortrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.birdwatcher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>